<div id="reg_form" class="bg_form">
	<p>
	  <b>Nombre:</b>
	  <%= @formulary.name %>
	</p>
	<hr>
	<%= link_to 'Editar', edit_formulary_path(@formulary) %> |
	<%= link_to 'Atras', formularies_path %>
</div>